# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
restaurant-mgmt-system/node_modules
restaurant-mgmt-system/.pnp
restaurant-mgmt-system/.pnp.js

# testing
restaurant-mgmt-system/coverage

# production
restaurant-mgmt-system/build

# misc
restaurant-mgmt-system/.DS_Store
restaurant-mgmt-system/.env.local
restaurant-mgmt-system/.env.development.local
restaurant-mgmt-system/.env.test.local
restaurant-mgmt-system/.env.production.local

restaurant-mgmt-system/npm-debug.log*
restaurant-mgmt-system/yarn-debug.log*
restaurant-mgmt-system/yarn-error.log*



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
test-app/node_modules
test-app/.pnp
test-app/.pnp.js

# testing
test-app/coverage

# production
test-app/build

# misc
test-app/.DS_Store
test-app/.env.local
test-app/.env.development.local
test-app/.env.test.local
test-app/.env.production.local

test-app/npm-debug.log*
test-app/yarn-debug.log*
test-app/yarn-error.log*